{% extends 'base.html' %}
{% load humanize %}
{% block page %}

    <!-- Masthead -->
    <header class="masthead bg-primary text-white text-center"
            style="background-image: url('/static/img/photo-1484480974693-6ca0a78fb36b.jpeg') !important; background-repeat: no-repeat; background-size: cover;">
        <div class="container d-flex align-items-center flex-column">

            <!-- Masthead Avatar Image -->
            {% if user.is_authenticated %}
                <img class="masthead-avatar mb-5" style="border-radius: 50%;" src="{{ request.user.get_image }}" alt="">
            {% else %}
                <img class="masthead-avatar mb-5" src="/static/img/avataaars.svg" alt="">
            {% endif %}
            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0" style="color: #2c3e50;">{{ unique.title }}</h1>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line" style="background-color: #2c3e50;"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line" style="background-color: #2c3e50;"></div>
            </div>

            <!-- Masthead Subheading -->
            <p class="masthead-subheading font-weight-light mb-0">{{ unique.subtitle|default:"" }}</p>

        </div>
    </header>
    {% if user.is_authenticated %}
        {#        {% if post.user == request.user %}#}
        <section class="page-section portfolio" id="portfolio">
            <div class="container">

                <!-- Portfolio Section Heading -->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Your Todo List</h2>

                <!-- Icon Divider -->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>

                <!-- Portfolio Grid Items -->
                <div class="row">

                    <!-- Portfolio Item 1 -->
                    {% for list in todo_list %}
                        <div class="col-md-6 col-lg-4" class="my_list">
                            <div class="portfolio-item mx-auto">
                                <div class="card" style="width:400px">
                                    <img class="card-img-top" src="/static/img/pexels-photo-908284.jpeg"
                                         alt="Card image">
                                    <div class="card-body">
                                        <h4 class="card-title examp"
                                            style="margin-bottom: 0px;">{{ list.name }}</h4>
                                        <small>{{ list.publish_date }}</small>
                                        <br>
                                        <small>-{{ list.datetime }}</small>
                                        <br>
                                        <br>
                                        <a data-toggle="modal" data-target="#portfolioModal{{ forloop.counter }}"
                                           href="#"
                                           class="btn btn-primary">See Profile</a>
                                        <a href="#" class="btn btn-danger finished btn-delete">Finished</a>
                                        {#                                        <a href="#"><i class="fas fa-share"></i></a>#}
                                        <button type="button" class="btn btn-primary share_btn" data-toggle="modal"
                                                data-target="#sharemodal" data-id="{{ list.pk }}">
                                            <i class="fas fa-share"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- /.row -->


            </div>
        </section>
    {% endif %}
    {% if todo_list.has_other_pages %}
        <ul class="pagination">
            {% if todo_list.has_previous %}
                <li><a href="?page={{ todo_list.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in todo_list.paginator.page_range %}
                {% if todo_list.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if todo_list.has_next %}
                <li><a href="?page={{ todo_list.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
    <!-- Portfolio Modal 1 -->
    {% for list in todo_list %}
        <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.counter }}" tabindex="-1" role="dialog"
             aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                      </span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title -->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ list.name }}</h2>
                                    <!-- Icon Divider -->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon">
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image -->
                                    <img class="img-fluid rounded mb-5" src="/static/img/pexels-photo-908284.jpeg"
                                         alt="">
                                    <!-- Portfolio Modal - Text -->
                                    <p class="mb-5">{{ list.more }}</p>
                                    <form method="post">
                                        {% csrf_token %}
                                        {% for comment in comment_form %}
                                            {{ comment }}

                                        {% endfor %}
                                        {#                                        <input id="room-name-submit" type="button" value="Enter">#}
                                    </form>
                                    <ul class="your-comment">
                                        {#                                        <li>#}
                                        {#                                            {% for cm in comment_model %}#}
                                        {#                                                <img src="{{ cm.user.get_image }}" alt="">#}
                                        {#                                                <h6>#}
                                        {#                                                    <time datetime="2016-02-04 22:30">{{ cm.publish_date|naturaltime }}</time>#}
                                        {#                                                </h6>#}
                                        {#                                                <p>{{ cm.comment }}</p>#}
                                        {#                                            {% endfor %}#}
                                        {#                                        </li>#}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- The Modal -->
    <div class="modal" id="sharemodal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ share_form }}
                        <input type="hidden" id="todo_input" name="todo" value="{{ list.pk }}">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send</button>

                </div>

            </div>
        </div>
    </div>
    {#    {% for delete in content_data %}#}
    {#        <div id="delete_modal{{ delete.id }}" class="delete_modal fade" role="dialog">#}
    {#            <div class="modal-dialog">#}
    {##}
    {#                <!-- Modal content-->#}
    {#                <div class="modal-content">#}
    {#                    <div class="modal-header">#}
    {#                        <h4 class="modal-title">{{ delete.caption }}</h4>#}
    {#                        <button type="button" class="close" data-dismiss="modal">&times;</button>#}
    {##}
    {#                    </div>#}
    {#                    <div class="modal-body">#}
    {#                        <p>Bu xəbəri silmək istədiyinizə əminsiniz?</p>#}
    {#                        <form class="delete_form" method="post" action="{% url 'delete' delete.id %}">#}
    {#                            {% csrf_token %}#}
    {#                            <button type="submit" class="btn btn-success">Sil</button>#}
    {#                        </form>#}
    {#                    </div>#}
    {#                    <div class="modal-footer">#}
    {##}
    {#                        <button type="button" class="btn btn-danger" data-dismiss="modal">Bağla</button>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    {% endfor %}#}
{% endblock %}
{% block js %}
    <script type="application/javascript">
        $(document).ready(function (e) {
            $(".btn-delete").click(function () {
                $(".delete_form").attr("action", $(this).attr("data-url"));
            });
            $('.share_btn').on('click', function (e) {
                todo_id = $(this).data('id');
                $('#todo_input').val(todo_id);
            })
        });

    </script>

    <script type="application/javascript">
        var comment;
        if (location.protocol === 'https:') {
            comment = new WebSocket('wss://' + window.location.host + '/comment/');
        } else {
            comment = new WebSocket('ws://' + window.location.host + '/comment/');
        }
        comment.onopen = function open() {
            console.log('Connect to Socket');
        };
        comment.onmessage = function message(event) {
            var data = JSON.parse(event.data);
            console.log("Socket response => ", data);
            if (data.hasOwnProperty("connection")) {
                if (!isNaN(data.connection)) {
                    $("#count").text(data.connection);
                }
            } else if (data.hasOwnProperty("comment")) {
                $(".your-comment").prepend(
                    `<li class="list-group-item"><a><img src='{{ user.get_image }}' alt=""></a>
                            <h6><a">{{ user.username }}</a>
                                <time datetime='2016-02-04 22:30'>{{ publish_date|naturaltime }}</time>
                            </h6>${data.comment}</li>`
                )
            } else if (data.hasOwnProperty("delete")) {
                $(".your-comment").html("");
            }
            if (data.hasOwnProperty("data")) {
                for (var i = 0; i < data.data.length; i++) {
                    $(".your-comment").prepend(
                        `<li class="list-group-item"><a><img src='{{ user.get_image }}' alt=""></a>
                            <h6><a">{{ user.username }}</a>
                                <time datetime='2016-02-04 22:30'>{{ publish_date|naturaltime }}</time>
                            </h6>${data.data[i].comment}</li>`
                    )
                }
            }
        };
        if (comment.readyState === WebSocket.OPEN) {
            comment.onopen();
        }
        $(".comment").keypress(function (e) {
            var text = $(this).val();
            if (e.keyCode === 13) {
                e.preventDefault();
                $(this).val('');
                comment.send(JSON.stringify({
                    "comment": text
                }))
            }
        });
        {#$(".btn-danger").click(function (e) {#}
        {#    comment.send(JSON.stringify({#}
        {#        "delete": "all"#}
        {#    }))#}
        {#});#}
    </script>
{% endblock %}