{% extends 'base.html' %}
{% block page %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <main>
        <section class="no-border-bottom" style="width: 1624px;">
            <div class="container">
                <header class="section-header">
                    <h2>Add List</h2>
                </header>
                <form action="" class="form-horizontal1" method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="image_data" value="">
                    <div class="row">
                        <div class="col-lg-10 mb-5 mb-lg-0">
                            <div class="card">
                                <div class="card-header">
                                    <h6>Your Plan</h6>
                                </div>
                                <br>
                                <div class="card-block">
                                    {% for form in add_post %}
                                        {% if form.html_name == 'datetime' %}
                                            <input type='text' class="form-control" id='datetimepicker4'/>
                                        {% else %}
                                            <div class="form-group">
                                                {{ form }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            <br>
                                <button class="btn btn-primary btn-block" type="submit">Submit shot</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <br>
    </main>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            {#alert('ok')#}
            $("#datetimepicker4").datetimepicker({
                format: 'DD/MM/YYYY',
            });
        });
    </script>
{% endblock %}